<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>margesy</title>
	<!--LINKEAR FONTS DE GOOGLE-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@300&display=swap" rel="stylesheet">
	<!--LINKEAR ARCHIVO EXTERNO CSS-->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>	
	<header class="header">
	<!-- inicio nav -->
		<nav>
			<!-- lista con viñetas -->
			<ul class="header_nav nav--background">
				<li class="nav_item nav_item--background nav_item--color"><a href="../index.html">INICIO</a></li>
				<li class="nav_item nav_item--background nav_item--color"><a href="sobre_mi.html">SOBRE MI</a></li>
				<li class="nav_item nav_item--background nav_item--color"><a href="proyectos.html">PROYECTOS</a></li>
                <li class="nav_item nav_item--background nav_item--color"><a href="experiencia.html">EXPERIENCIA</a></li>
				<li class="nav_item nav_item--background nav_item--color"><a href="contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
	<!-- cierre nav -->
	</header>
	<!-- cierre encabezado -->
	<!-- inicio contenido -->
	<main>
		
		<div class="grid">
			<div>
				<img  class="card_img" src="../assets/img/intercambio.jpg" alt="intercambio">
			</div>

			<div>
				<h3 class="titulo">Estudios</h3>
				<ul class="list">
					<li class="item_list">Universidad Tecnologica de Cancun - TSU Desarrollo de negocios</li>
					<li class="item_list">Universidad Tecnologica de Cancun - Licenciatura en Innovacion de negocios area mercadotecnia</li>
					<li class="item_list">Institute Universitaire de Sceaux - Management des organisations parcours entrepreneauriat</li>
					<li class="item_list">Learning By Helping - Master Inovacion Social</li>
					<li class="item_list">Coderhouse - Desarrollo web</li>
				</ul>
			</div>
		</div>

		<div class="grid">
			<div>
				<h3 class="titulo">Experiencia laboral</h3>
				<ul class="list">
					<li class="item_list">Asistente comercial y comunity manager - Babychou Services (Antony, francia)</li>
					<li class="item_list">Asesora de servicio al cliente - Linkeo (Cancun, Mexico)</li>
				</ul>

				<h3 class="titulo">Voluntariados</h3>
				<ul class="list">
					<li class="item_list">Pangea</li>
					<li class="item_list"> Blue Religion</li>
				</ul>
			</div>
			<div class="iframe">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/jUQR_GlUFUw"
				title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
				clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

		<div class="grid">
			<div>
				<img  class="card_img" src="../assets/img/voluntariado.jpg" alt="voluntariado">
			</div>

			<div>	
				<img  class="card_img" src="../assets/img/pangea.jpg" alt="pangea">
			</div>
		</div>
	</main>
	<!-- cierre contenido -->
	<!-- inicio footer -->
	<footer class="footer">
        <!-- CONTACTO -->
		<!-- CORREO -->
        <div>
            <h5 class="footer_text">margesy.anaya@gmail.com</h5>
        </div>
		<!-- REDES SOCIALES -->
		
		<div>
			<img class="footer_logo" src="../assets/img/logo_linkedin.png" alt="logo_linkedin">
			<img class="footer_logo" src="../assets/img/logo_instagram.png" alt="logo_instagram">
		</div>
		<div>
			<h5 class="footer_text">copyrigth 2022</h5>
		</div>
	</footer>
	<!-- cierre footer -->
</body>
</html>	


